:root {
    --tp-theme-color: #0057FC;
    --tp-theme-color-2: #FFE815;
    --tp-heading-color: #0A0E1A;
    --tp-body-color: #57595C;
    --tp-common-black: #0A0E19;
    --tp-rom-color: #FBF6EF;
    --tp-nblue-color: #001C52;
    --tp-cream-color: #FBF6EF;
}