@use '../../utils' as *;
/*----------------------------------------*/
/*  5.2 Footer Style 2
/*----------------------------------------*/

.tp-footer-widget-area-border {
    border-bottom: 1px solid #57595C;
}

.tp-footer-wedget-title-black {
    color: #0A0E1A;
}

.tp-footer-2-newsletter {
    position: relative;

    & button {
        position: absolute;
        right: 0;
        top: 20px;
        color: #57595C;
    }

    & .form-check {
        &-label {
            font-size: 15px;
            color: #57595C;
        }

        &-input {
            @include transform(translateY(2px));
            border-color: #57595C;
            margin-right: 10px;
        }
    }
}

.tp-footer-social {
    & a {
        color: #57595C;
        font-size: 20px;
        margin-right: 10px;
        @include transition(.3s);

        &:hover {
            color: #FF5B15;
        }
    }

    &-2 {
        & a {
            color: #B1B4BA;

            &:hover {
                color: #FF5B15;
            }
        }
    }

    &-3 {
        & a {
            color: #B1B4BA;

            &:hover {
                color: #FF3838;
            }
        }
    }
}

.tp-footer-wedget-2 {
    & ul {
        & li {
            & a {
                color: #5c5957;
            }
        }
    }

    & .tp-footer-contact-item {
        & span {
            color: #5c5957;
        }

        & h4 {
            color: #0A0E1A;
        }
    }

    & .footer-content {
        & span {
            color: #5c5957;
        }
    }

}

.tp-footer-2-col-02 {
    padding-left: 80px;

    @media #{$lg, $md, $xs} {
        padding-left: 0;
    }
}

.tp-footer-2-col-03 {
    padding-left: 40px;

    @media #{$lg, $md, $xs} {
        padding-left: 0;
    }
}

.tp-footer-2-col-04 {
    padding-left: 70px;

    @media #{$lg, $md, $xs} {
        padding-left: 0;
    }
}

.tp-footer-4 {
    &-col-02 {
        padding-left: 60px;

        @media #{$lg, $md, $xs} {
            padding-left: 0;
        }
    }

    &-col-03 {
        padding-left: 60px;

        @media #{$lg, $md, $xs} {
            padding-left: 0;
        }
    }
}

.tp-footer-copyright-area-2 {
    & .tp-footer-copyright {
        & p {
            margin: 0;
            color: #57595C;

            & a {
                color: #FF5B15;
            }
        }

        &-2 {
            & p {
                color: #B1B4BA;
            }
        }
    }



    & .white-text {
        & a {
            color: #B1B4BA;
        }
    }
}


.tp-footer-menu-2 {
    & ul {
        & li {
            & a {
                color: #57595C;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.tp-footer-4-newsletter {
    & input {
        color: #B1B4BA;

        &:focus {
            border-color: #B1B4BA;
        }

        @include tp-placeholder() {
            color: #B1B4BA;
        }
    }

    & button {
        color: #FF5B15;
    }

    & .form-check {
        &-input {
            background-color: transparent;
            border-color: #D9D9D9;
        }

        &-label {
            color: #B1B4BA;
        }
    }
}