@use '../utils' as *;

.tp-section {
	&-subtitle {
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
		color: #57595c;
		display: inline-block;
		& i{
			width: 10px;
			height: 10px;
			border-radius: 30px;
			background-color: #0057FC;
			display: inline-block;
			transform: translateY(-1px);
		}
		&-white{
			color: #A3AEC3;
		}
		& .tp-dot-color{
			background-color: var(--tp-theme-orange);
		}
	}

	&-title {
		& br {
			@media #{$xs} {
				display: none;
			}
		}

		&-wrapper {
			& p {
				& br {
					@media #{$xs} {
						display: none;
					}
				}
			}
		}

		font-size: 60px;

		@media #{$lg,$xs} {
			font-size: 40px;
		}

		@media #{$md} {
			font-size: 35px;
		}

		&-white {
			color: #fff;
		}
	}
	&-contents{
		& p{
			color: #A3AEC3;
			& b{
				color: #fff;
			}
		}
	}
}