@use '../../utils' as *;
/*----------------------------------------*/
/*  	4.1 Blog 
/*----------------------------------------*/

.tp-postbox {
  &-meta span {
    margin-right: 15px;

    & i {
      margin-right: 4px;
      font-size: 20px;
    }
  }

  &-tags {
    &-wrapper {
      padding: 22px;
      border: 1px solid #57595C;
      border-radius: 10px;
    }

    & span {
      color: #0A0E1A;
      font-size: 17px;
      font-weight: 500;
      margin-right: 5px;
    }

    & a {
      font-size: 15px;
      text-transform: uppercase;
      background: #FBF6EF;
      line-height: 1;
      padding: 15px 18px;
      border-radius: 5px;
      margin: 4px;
      display: inline-block;

      &:hover {
        color: #fff;
        background: var(--tp-theme-color);
      }
    }

    &-social {
      @media #{$xs} {
        margin-top: 15px;
      }

      & a {
        display: inline-block;
        border: 1px solid #57595C;
        line-height: 40px;
        border-radius: 5px;
        width: 42px;
        height: 42px;
        text-align: center;
        font-size: 14px;
        margin-right: 5px;

        &:hover {
          color: #fff;
          border: 1px solid var(--tp-theme-color);
          background: var(--tp-theme-color);
        }
      }
    }
  }

  &-title {
    @media #{$lg, $md, $xs} {
      font-size: 30px;
    }

  }

  &-comments {
    & ul {
      & li {
        margin-bottom: 80px;

        &.children {
          margin-left: 120px;

          @media #{$md, $xs} {
            margin-left: 30px;
          }
        }
      }
    }

    &-thumb {
      float: left;
      margin-right: 30px;

      & img {
        width: 120px;
        height: 120px;
        border-radius: 5px;
      }
    }

    &-text {
      overflow: hidden;
      position: relative;

      & a {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        font-family: var(--tp-font-heading);

        @media #{$md, $xs} {
          position: static;
        }

        &:hover {
          color: var(--tp-theme-color);
        }
      }
    }

    & span {
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      margin-bottom: 7px;
    }

    &-author {
      font-size: 20px;
    }
  }
}




.tp-swiper-blog-button {
  background: var(--tp-theme-color-2);
  width: 135px;
  height: 75px;
  font-size: 50px;
  line-height: 88px;
  border-radius: 100%;
  text-align: center;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  left: 30px;
  font-size: 50px;

  &-next {
    left: auto;
    right: 30px;
  }

  &-prev {
    transform: translateY(-50%) rotate(180deg);
  }
}


.tp-blog-video {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  & a {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: var(--tp-theme-color-2);
    line-height: 100px;
    border-radius: 100%;
    text-align: center;
    font-size: 40px;
  }
}

.tp-pagination {
  & ul {
    & li {
      display: inline-block;
      margin-right: 15px;

      & a {
        display: inline-block;
        border: 1px solid #57595C;
        line-height: 58px;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        text-align: center;

        &:hover {
          background-color: var(--tp-theme-color);
          color: #fff;
          border: 1px solid var(--tp-theme-color);
        }
      }
    }
  }
}



.tp-blog-form {
  & input {
    border: 1px solid #57595C;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;

    @include tp-placeholder {
      text-transform: capitalize;
      font-size: 17px;
      font-weight: 500;
    }
  }

  & button {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.tagcloud a {
  display: inline-block;
  border: 1px solid #666;
  padding: 18px 17px;
  margin-right: 5px;
  margin-bottom: 7px;
  border-radius: 5px;
  line-height: 1;

  @media #{$lg,$md,$xs} {
    padding: 10px 13px;
    margin-bottom: 11px;
  }

  &:hover {
    color: #fff;
    border: 1px solid var(--tp-theme-color);
    background: var(--tp-theme-color);
  }
}


blockquote {
  padding: 60px;
  border: 1px solid #57595C;
  border-radius: 20px;
  text-align: center;

  @media #{$lg,$md,$xs} {
    padding: 25px;
  }

  & i {
    font-size: 40px;
    margin-bottom: 25px;
    color: #57595C;
  }

  & p {
    font-size: 30px;
    font-family: var(--tp-font-heading);
    line-height: 1.2;
    color: #000;
    margin-bottom: 30px;
  }

  & cite {
    font-style: normal;
    font-family: var(--tp-font-heading);
    color: #57595C;
  }

}

