@use '../../utils' as *;
/*----------------------------------------*/
/*	6.1 About
/*----------------------------------------*/

.tp-about-space {
    @media #{$xs} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.tp-about-box {

    @media #{$md,$xs} {
        padding-left: 0px;
    }
}

.tp-about-video {
    @media #{$xl,$lg, $md,$xs} {
        padding-left: 0px;
    }

    &-icon {
        & a {
            width: 80px;
            height: 80px;
            border: 1px solid #57595C;
            text-align: center;
            line-height: 75px;
            border-radius: 50%;
            display: inline-block;
            transition: .3s;

            &:hover {
                background-color: var(--tp-theme-color);
                border-color: var(--tp-theme-color);
                & i {
                    color: #fff;
                }
            }
            & i {
                color: #57595C;
                transition: .3s;
            }
        }
    }

    & h4 {
        color: #57595C;
        font-size: 30px;
    }
}

.tp-about {
    &-wrapper {
        @media #{$lg} {
            padding-left: 137px;
        }

        @media #{$md, $xs} {
            padding-left: 0;
        }
    }

    &-content {
        &-1 {
            @media #{$xs} {
                margin-bottom: 60px;
            }
        }

        &-2 {
            @media #{$xs} {
                @include flexbox();
                flex-direction: column-reverse;

            }
        }
    }

    &-image {
        @media #{$md,$xs} {
            padding-left: 0px;
        }

        @media #{$xs} {
            margin-bottom: 30px;
        }
    }

    &-title {
        & br {
            @media #{$lg, $md} {
                display: none;
            }
        }
    }

    &-shape-1 {
        top: 22%;
        left: -12px;
        z-index: 1;
    }

    &-shape-2 {
        top: 43%;
        right: 35%;
        z-index: 1;
    }

    &-shape-3 {
        top: 0;
        right: 0;
        z-index: 1;
    }

    &-2 {
        &-shape-1 {
            top: 0;
            right: 0;
        }

        &-shape-2 {
            top: 117px;
            left: -54px;
        }
    }

    &-content {
        & ul {
            & li {
                margin-bottom: 20px;
                display: flex;

                & i {
                    font-size: 30px;
                    color: #000;
                    margin-right: 12px;
                    margin-top: 5px;

                    @media #{$md} {
                        font-size: 28px;
                    }
                }

                & span {
                    font-family: var(--tp-font-heading);
                    font-size: 30px;
                    line-height: 1.3;
                    color: #0a0e1a;

                    @media #{$md} {
                        font-size: 28px;
                    }
                }
            }
        }
    }

    &-circle-image {
        position: absolute;
        top: 0;
        right: 185px;
        z-index: 1;

        @media #{$xl} {
            right: 75px;
        }

        @media #{$lg} {
            right: 100px;
        }

        & img {
            max-width: inherit;

            @media #{$lg} {
                width: 480px;
            }
        }
    }

    &-thumb {
        &>img {
            position: relative;
            z-index: 2;
        }
    }

    &-circle {
        width: 615px;
        height: 595px;
        background-color: var(--tp-theme-light-yellow);
        border-radius: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        @media #{$xl} {
            width: 550px;
            height: 550px;
        }

        @media #{$lg} {
            width: 350px;
            height: 350px;
        }
    }

    &-right-box {
        width: 52%;
        top: 0;
        right: 0;

        @media #{$md, $xs} {
            position: static;
            width: 100%;
            margin-top: 40px;
        }
    }

    &-fact-box {
        @media #{$md} {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 25px;
            padding-bottom: 0;
        }

        @media #{$xs} {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 25px;
            padding-bottom: 0;
        }
    }

    &-feature-icon {
        & span {
            font-size: 91px;
        }
    }

    &-skill-box {
        @media #{$lg, $md, $xs} {
            padding-left: 0;
        }
    }
}

.tp-bg-circle {
    border-radius: 360px;

    @media #{$xxlm} {
        border-radius: 300px;
    }

    @media #{$xl, $lg} {
        border-radius: 150px;
    }

    @media #{$md, $xs} {
        border-radius: 0;
    }

    @media #{$xl, $lg, $md, $xs} {
        margin: 0;
    }

}

.tp-founder-sep {
    height: 40px;
    background-color: #FF3838;
    width: 1px;
    margin: 22px auto;
}

.tp-about-pb {
    @media #{$md, $xs} {
        padding-bottom: 0;
    }
}

.tp-exp {
    position: relative;
    background-color: var(--tp-theme-color-2);
    padding: 21px 49px;
    border-radius: 10px;
    z-index: 2;

    &-wrapper {
        position: absolute;
        top: -45px;
        right: 0;
    }

    &-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: -10px;
        bottom: -10px;
        background-color: #fff;
        border-radius: 10px;
        z-index: 1;
    }

    & h2 {
        font-size: 100px;

        @media #{$xs} {
            font-size: 65px;
        }
    }

    & h5 {
        @media #{$xs} {
            font-size: 21px;
        }
    }
}