@use '../../utils' as *;

.tp-contact-form-area {
    @media #{$xs} {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.fs-100 {
    font-size: 100px;

    @media #{$xl} {
        font-size: 88px;
    }

    @media #{$xs} {
        font-size: 65px;
    }
}

.contact-form-box {

    & input,
    & textarea {
        border-color: #57595C;
    }
}

.tp-contact-thumb {
    & img {
        max-width: inherit;
        margin-left: -40px;

        @media #{$xl, $lg, $md, $xs} {
            // max-width: 100%;
            width: 100%;
        }

        @media #{$md, $xs} {
            margin-left: 0;
        }
    }
}

.tp-contact-form-box {

    & input,
    & textarea {
        border: 1px solid #57595C;
        height: 60px;
        padding: 0 25px;
        border-radius: 10px;
    }

    .p-relative {
        & i {
            position: absolute;
            right: 20px;
            top: 21px;
        }
    }

    & textarea {
        border: 1px solid #57595C;
        height: 160px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
}


.tp-contact-info {
    border: 1px solid #95695C;
    padding: 36px 45px;
    border-radius: 10px;

    &-icon {
        i {
            font-size: 85px;
            color: #000;
        }
    }

    &-text {
        & span {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
        }

        & a {
            display: block;
            font-size: 30px;
            color: #0A0E1A;
            font-family: var(--tp-font-heading);
            line-height: 1.2;
            margin-bottom: 10px;
            @media #{$xl, $xs} {
                font-size: 24px;
              }
        }
    }
}

.tp-map-area iframe{
    height: 700px;
    width: 100%;
    @media #{$xs} {
        height: 400px;
      }
}

