@use '../../utils' as *;

.tpfact {
    &__icon {
        font-size: 110px;
        color: var(--tp-theme-color-2);
    }

    &__text {
        & span {
            font-family: var(--tp-font-heading);
            font-size: 100px;
            line-height: 1;
            color: #fff;
            display: inline-block;
            margin-top: 20px;
            @media #{$lg} {
                font-size: 75px;
            }
        }
    }

    &__title {
        font-size: 30px;
        color: #fff;
        opacity: 0.5;
        @media #{$lg} {
            font-size: 27px;
        }
    }
}

.cols{
    @media #{$md, $sm} {
        width: 50%;
    }
    @media #{$xs} {
        width: 100%;
    }
}