@use '../../utils' as *;

.tpfact {
    &__icon {
        font-size: 110px;
        color: var(--tp-theme-color-2);
    }

    &__text {
        & span {
            font-family: var(--tp-font-heading);
            font-size: 100px;
            line-height: 1;
            color: #fff;
            display: inline-block;
            margin-top: 20px;

            @media #{$lg} {
                font-size: 75px;
            }
        }
    }

    &__title {
        font-size: 30px;
        color: #fff;
        opacity: 0.5;
        font-weight: 400;

        @media #{$lg} {
            font-size: 27px;
        }
    }

    &-2 {
        & .tpfact {
            &__icon {
                font-size: 110px;
                color: #57595C;

                @media #{$xxlm} {
                    font-size: 80px;
                }

                @media #{$xl} {
                    font-size: 70px;
                }

                &-2 {
                    color: var(--tp-theme-orange);
                    position: relative;

                    &::after {
                        content: "";
                        height: 100px;
                        width: 1px;
                        background-color: #D9D9D9;
                        position: absolute;
                        top: 15px;
                        right: 0;

                        @media #{$xxlm} {
                            height: 74px;
                            top: 7px;
                        }

                        @media #{$xl} {
                            height: 71px;
                            top: 0px;
                        }
                    }
                }
            }

            &__text {
                & span {
                    font-family: var(--tp-font-heading);
                    font-size: 100px;
                    line-height: 1;
                    color: #0a0e1a;
                    display: inline-block;
                    margin-top: 12px;

                    @media #{$xxlm} {
                        font-size: 60px;
                    }

                    @media #{$xl} {
                        font-size: 50px;
                    }

                    @media #{$lg} {
                        font-size: 75px;
                    }

                    @media #{$xs} {
                        font-size: 65px;
                    }
                }

            }

            &__title {
                font-size: 30px;
                color: #57595C;
                opacity: 1;

                @media #{$xxlm} {
                    font-size: 23px;
                }

                @media #{$xl} {
                    font-size: 17px;
                }

                @media #{$lg} {
                    font-size: 27px;
                }

                @media #{$md, $xs} {
                    font-size: 22px;
                }
            }
        }
    }
    &-5{
        @media #{$lg, $xs} {
            margin-left: 0;
        }
    }
}

.cols {
    @media #{$md, $sm} {
        width: 50%;
    }

    @media #{$xs} {
        width: 100%;
    }
}

.tp-about {
    &-pb {
        @media #{$xxlm, $xl} {
            padding-bottom: 80px;
        }
    }

    &-fact-box {
        @media #{$xxlm, $xl} {
            padding-left: 12px;
        }
    }
}
.tp-fns-37{
    @media #{$xl} {
       font-size: 37px;
    }
}