@use '../../utils' as*;
/*----------------------------------------*/
/*  6.7 FAQ
/*----------------------------------------*/

.tp-faq-wrapper {
    padding: 20px 0;
}

.tpfaq-bg {
    width: calc(50% - 65px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    border-radius: 0 20px 20px 0;
    @media #{$md} {
        height: 500px;
        width: 100%;
        border-radius: 0;
        position: static;
        margin-bottom: 30px;
    }
    @media #{$xs} {
        display: none;
    }
    &-right{
        left: auto;
        right: 0;
        border-radius: 0;
        background-position: center;
    }
}

