@use '../../utils' as *;

.tp-hero-area {
    @media #{$xs} {
        padding-top: 198px;
        padding-bottom: 110px;
    }

    &-space {
        @media #{$xs} {
            padding-top: 122px;
            padding-bottom: 57px;
        }
    }

    &-4 {
        @media #{$lg} {
        padding-top: 145px;
        padding-bottom: 145px;
        }
    }
}

.tp-hero {
    z-index: 2;

    &-2 {
        @media #{$xl, $lg} {
            margin-left: 0;
        }
    }

    &-space {
        @media #{$md, $xs} {
            background-attachment: fixed;
        }

        @media #{$md} {
            padding-bottom: 0;
            padding-top: 160px;
        }

        @media #{$xs} {
            padding-bottom: 0;
            padding-top: 140px;
        }
    }

    &-bg {
        width: 43.4%;
        height: calc(100% - 101px);
        position: absolute;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;

        @media #{$md} {
            position: static;
            height: 500px;
            width: 100%;
            margin-top: 50px;
        }

        @media #{$xs} {
            position: static;
            height: 400px;
            width: 100%;
            margin-top: 30px;
        }
    }

    @media #{$xxlm} {
        padding-left: 90px;
    }



    &-title {
        font-size: 110px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0;

        @media #{$xl, $md} {
            font-size: 90px;
        }

        @media #{$lg} {
            font-size: 80px;
        }

        @media #{$md} {
            font-size: 70px;
        }

        @media #{$xs} {
            font-size: 40px;
        }

        & span {
            background: radial-gradient(42.24% 2817.5% at 52.45% 54.17%, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        & i {
            font-style: normal;
            font-size: 30px;
            color: #B1B4BA;
            display: inline-block;
            @include transform(translateY(-8px));

            @media #{$md} {
                font-size: 25px;
                @include transform(translateY(-4px));
            }

            @media #{$xs} {
                font-size: 16px;
                @include transform(translateY(0));
            }
        }

        &-2 {
            font-size: 100px;

            & img {
                @media #{$xs} {
                    width: 35px;
                    height: auto;
                }

                @media #{$sm} {
                    width: 50px;
                    height: auto;
                }

            }

            @media #{$xxlm} {
                font-size: 90px;
            }

            @media #{$xl} {
                font-size: 85px;
            }

            @media #{$lg} {
                font-size: 70px;
            }

            @media #{$xs} {
                font-size: 50px;
            }

            @media #{$sm} {
                font-size: 70px;
            }

        }

        &-black {
            color: #0A0E1A;
            font-size: 100px;

            &-4 {}

            @media #{$xl} {
                font-size: 80px;
            }

            @media #{$lg, $md} {
                font-size: 60px;
            }

            @media #{$xs} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 55px;
            }

            & img {
                margin-left: 50px;
                @include transform(translateY(-16px));

                @media #{$xs} {
                    margin-left: 0;
                    width: 55px;
                    transform: translateY(-9px);
                }
            }
        }

    }


    &-desc {
        & p {
            font-family: var(--tp-font-heading);
            font-size: 30px;
            line-height: 1.33;
            color: #B1B4BA;
            display: inline-block;
            margin: 0;
            margin-right: 59px;

            @media #{$md} {
                font-size: 25px;
                @include transform(translateY(-4px));
            }

            @media #{$xs} {
                font-size: 16px;
                @include transform(translateY(0));
            }
        }


    }

    &-black {
        @media #{$md} {
            margin-left: 20px;
        }

        @media #{$xs} {
            margin-left: 0;
        }

        &-content {
            margin-left: 160px;

            & br {
                @media #{$xs} {
                    display: none;
                }
            }

            @media screen and (min-width: 1600px) and (max-width: 1800px) {
                margin-left: 90px;
            }

            @media #{$xl} {
                margin-left: 90px;
            }

            @media #{$lg} {
                margin-left: 70px;
            }

            @media #{$md} {
                margin-left: 5px;
            }

            @media #{$xs} {
                margin-left: 5px;
            }

            &:hover {
                & .tp-text-btn {
                    color: var(--tp-theme-orange);
                }
            }
        }

        @media screen and (min-width: 1400px) and (max-width: 1800px) {
            padding-left: 20px;
            margin-left: 0;
        }
    }

    &-img {
        flex: 0 0 auto;

        @media screen and (min-width: 1600px) and (max-width: 1800px) {
            width: 350px;
        }

        @media #{$xxlm} {
            width: 250px;
        }

        @media #{$xl} {
            width: 200px;
        }

        @media #{$lg} {
            width: 100px;
        }

        & img {
            max-width: inherit;

            @media screen and (min-width: 1400px) and (max-width: 1800px) {
                max-width: 100%;
            }

            @media #{$xl} {
                max-width: 100%;
            }

            @media #{$lg} {
                max-width: 100%;
            }
        }
    }

    &-url-box {
        & a {
            @include flexbox();
            align-items: center;
        }

        & i {
            font-size: 52px;
            display: inline-flex;
            margin-left: -19px;
        }
    }

    &-url-bg {
        width: 30px;
        height: 65px;
        background: #fff;
        opacity: 0.2;
        display: inline-block;
    }

    &-wrapper {
        @media #{$xxlm} {
            padding-left: 63px;
        }
    }

}


.hero-info {
    width: 100px;
    height: calc(100% - 100px);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #B1B4BA;
    border-right: 1px solid rgba(177, 180, 186, 0.25);
    // display: flex;
    // justify-content: space-around;
    // flex-direction: column;
    position: absolute;
    top: 100px;
    z-index: 11;

    &-social {
        @include transform(rotate(-90deg));
        // display: block ruby;
        white-space: nowrap;

        @media #{$xxl} {
            position: absolute;
            top: 233px;
            left: -57px;
        }
    }

    &-text {
        @include transform(rotate(-90deg));
        white-space: nowrap;

        @media #{$xxl} {
            position: absolute;
            bottom: 189px;
            left: -38px;
        }
    }
}

.tp-hero-shape {
    &-1 {
        left: -40px;
        top: 370px;
        z-index: 1;

        @media #{$lg} {
            left: -9%;
            top: 21%;
            width: 20%;
        }

        @media #{$md} {
            left: -16%;
            top: 34%;
        }
    }

    &-2 {
        left: 375px;
        bottom: 329px;
        z-index: 1;

        @media #{$xl} {
            bottom: 404px;
            width: 32%;
        }

        @media #{$lg} {
            left: 32%;
            bottom: 37%;
            width: 33%;
        }

        @media #{$md} {
            display: none;
        }
    }

    &-3 {
        top: 31%;
        right: 38%;
        z-index: 1;

        @media #{$xl} {
            top: 83%;
            right: 56%;
        }

        @media #{$lg, $md} {
            display: none;
        }
    }

    &-4 {
        top: 200px;
        right: 192px;
        z-index: 1;

        @media #{$xl} {
            top: 138px;
            right: 39px;
        }

        @media #{$lg} {
            top: 19%;
            right: 19px;
        }
    }

    &-5 {
        right: 300px;
        bottom: 140px;
        z-index: 1;

        @media #{$xl} {
            right: 100px;
            bottom: 103px;
            width: 8%;
        }

        @media #{$lg} {
            right: 8%;
            bottom: 7%;
            width: 9%;
        }

        @media #{$md} {
            right: 11%;
            bottom: 10%;
            z-index: 1;
            width: 15%;
        }
    }

}

.tp-hero-3-shape {
    &-1 {
        right: 100px;
        bottom: 55px;
        border-radius: 50%;
        z-index: 2;

        @media #{$xxlm} {
            right: 87px;
            bottom: 99px;
            width: 300px;
        }

        @media #{$xl} {
            right: 87px;
            bottom: 99px;
            width: 260px;
        }

        @media #{$lg} {
            right: 84px;
            bottom: 22%;
            width: 150px;
        }

        @media #{$md} {
            bottom: 8%;
            width: 181px;
        }
    }

    &-2 {
        right: 60px;
        top: 140px;
        z-index: 1;

        @media #{$xl} {
            right: 87px;
            bottom: inherit;
            width: 123px;
            top: 33%;
        }

        @media #{$md} {
            top: 24%;
        }
    }
}

.ml-m-7 {
    margin-left: -7px;
}

.tp-hero-circle-shape {
    width: 717px;
    height: 717px;
    top: 147px;
    left: -128px;
    background: #FFE6CE;
    border-radius: 100%;

    @media #{$xl} {
        width: 600px;
        height: 600px;
    }
    @media #{$lg} {
        width: 550px;
        height: 550px;
    }
}

.tp-element-shape-thumb {
    bottom: 0;
    right: 0;

    & img {
        width: 95%;

        @media #{$xxlm, $xl} {
            width: 79%;
        }

        @media #{$lg} {
            width: 62%;
        }
    }

    &-2 {
        & img {
            width: 98%;
        }
    }
}

.hero-info-social-4 {
    position: absolute;
    top: 44%;
    left: 0;
    @include transform(rotate(-90deg));
    font-weight: 500;
    color: #0A0E1A;
    display: inline-block;

    @media #{$xxlm} {
        left: -64px;
    }

    & span {
        margin: 0 5px;
    }

    & a {
        @include transition(.3s);

        &:hover {
            color: var(--tp-theme-orange);
        }
    }
}

.tp-hero-star-shape {
    &-1 {
        top: 271px;
        left: 65px;
    }

    &-2 {
        top: 177px;
        left: 40%;
    }

    &-3 {
        left: 50%;
        bottom: 106px;
    }
}