@use '../../utils' as*;

.tp-project-tab-area {
    @media #{$lg} {
        padding-right: 40px;
    }

    @media #{$md} {
        padding-right: 0;
    }

    @media #{$xs} {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 65px;
        padding-bottom: 65px;
    }

    @media #{$md} {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.tp-project-tab {

    @media #{$md,$xs} {
        @include flexbox();
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &-content {
        @media #{$md} {
            padding-right: 0px;
            padding-left: 0px;
        }

        @media #{$xs} {
            padding-right: 0;
            padding-left: 0;
        }
    }

    & button {
        color: #fff;
        font-size: 100px;
        line-height: 1.2;
        font-family: var(--tp-font-heading);
        border-bottom: 1px solid #2F446B;
        padding: 12px 84px;
        padding-right: 37px;
        text-align: left;

        @media #{$xxlm} {
            font-size: 80px;
        }

        @media #{$lg} {
            padding-right: 40px;
            padding-left: 40px;
            font-size: 50px;
            width: 100%;
        }

        @media #{$md} {
            padding-right: 21px;
            padding-left: 0px;
            font-size: 22px;
        }

        @media #{$xs} {
            padding-left: 0px;
            font-size: 18px;
            padding-right: 20px;
            margin-bottom: 10px;
        }

        margin-bottom: 15px;

        @media #{$xl} {
            font-size: 66px;
            padding: 12px 46px;
        }
    }

    & .active {
        color: var(--tp-theme-color-2);
        border-color: var(--tp-theme-color-2);
    }

    &-thumb {
        & img {
            border-radius: 20px;
            width: 100%;
        }
    }
}

.tpportfolio {
    &__thumb {
        & img {
            width: 100%;
        }
    }

    &__text {
        @include flexbox();
        flex-direction: column;
        align-items: start;
        position: absolute;
        bottom: 50px;
        left: 80px;
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);

        @media #{$xs} {
            left: 30px;
            bottom: 10px;
        }

        @media #{$lg} {
            left: 40px;
            bottom: 10px;
        }

        & span {
            display: inline-block;
            font-size: 15px;
            text-transform: uppercase;
            color: #0a0e1a;
            background-color: #ffffff;
            padding: 10px 22px;
            margin-bottom: 5px;
        }
    }

    &__title {
        font-size: 30px;
        color: #0a0e1a;
        background-color: #ffffff;
        padding: 12px 22px;
    }

    &:hover {
        & .tpportfolio__text {
            bottom: 80px;
            opacity: 1;
            visibility: visible;

            @media #{$xs} {
                bottom: 30px;
            }

            @media #{$lg} {
                bottom: 40px;
            }
        }
    }
}

.tpshowcase {
    @media #{$md, $xs} {
        margin-bottom: 30px;
        margin-top: 70px;
    }

    &__number {
        & span {
            font-size: 30px;
            color: #A3AEC3;
            position: relative;

            &::before {
                content: "";
                width: 60px;
                height: 1px;
                background-color: #A3AEC3;
                position: absolute;
                top: 50%;
                left: -70px;
            }

            @media #{$md, $xs} {
                transform: translateX(70px);
                display: inline-block;
            }
        }
    }

    &__btn {
        @media #{$md, $xs} {
            margin-top: 0;
        }
    }

    &__cat {
        & span {
            padding: 3px 20px;
            border-radius: 15px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
        }
    }

    &__title {
        font-size: 40px;
        color: #fff;

        @media #{$lg} {
            font-size: 35px;
        }

        & br {
            @media #{$lg} {
                display: none;
            }
        }
    }

    &__logo {
        margin-right: -1px;
        margin-bottom: -1px;
        min-height: 320px;

        @media #{$md, $xs} {
            margin-right: 0;
        }
    }

    &__content-box {
        margin-bottom: -1px;
    }

    &__border {
        border: 1px solid #57595C;
        padding: 30px;
    }

    &__tag {
        padding: 2px 22px;
        background-color: #FFE9C9;
        font-size: 15px;
        font-weight: 500;
        color: #0A0E1A;
        border-radius: 15px;
        display: inline-block;
    }

    &__heading {
        font-size: 40px;

        @media #{$lg, $xs} {
            font-size: 30px;
        }

        & br {
            @media #{$md} {
                display: none;
            }
        }
    }

    &__thumb {
        & img {
            @media #{$md} {
                max-width: inherit;
                width: 100%;
            }
        }
    }

}

.tpproject {
    &-bg {
        background-color: #D6F0FF;
        padding: 20px;
    }

    &__meta {
        margin-bottom: 5px;

        & span {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            color: #57595C;
        }

    }

    &__title {
        font-size: 30px;
    }

    &__content {
        @media #{$md, $xs} {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.tp-project-active-margin {
    margin: 0 -100px;

    @media #{$xl, $lg, $md} {
        margin: 0 -200px;
    }

    @media #{$lg,} {
        margin: 0 -150px;
    }

    @media #{$md, $xs} {
        margin: 0;
    }
}

.tp-section-contents {
    padding-bottom: 5px;
}

.tp-portfolio {
    &-arrow {
        text-align: center;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%) scale(.7);
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        & a {
            background: var(--tp-theme-color-2);
            width: 135px;
            height: 75px;
            font-size: 50px;
            display: inline-block;
            line-height: 88px;
            border-radius: 100%;
        }
    }

    &-thumb {
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--tp-theme-color);
            opacity: 0;
            visibility: hidden;
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 15px;
            transition: .3s;
        }
    }

    &-item {
        &:hover {
            & .tp-portfolio-thumb {
                &::before {
                    opacity: 0.7;
                    visibility: visible;
                }
            }

            & .tp-portfolio-arrow {
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%) scale(1);
            }
        }
    }

    &-text {
        & p span {
            width: 50px;
            height: 1px;
            background: #57595C;
            display: inline-block;
            transform: translateY(-4px);
        }
    }

    &-filter {
        & button {
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0px 20px;
            position: relative;

            &.active {
                color: #0A0E1A;
            }

            &::before {
                content: "|";
                top: -1px;
                right: -5px;
                position: absolute;
                border-radius: 15px;
                transition: 0.3s;
            }

            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.tp-portfolio-widget-title {
    & span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--tp-theme-color);
        display: inline-block;
        margin-right: 7px;
        transform: translateY(-4px);
    }
}

.tp-portfolio-info {
    background-color: #FBF6EF;
    padding: 30px;
    border-radius: 10px;

    & label {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 7px;
    }

    &-title {
        font-size: 20px;
        color: #0A0E1A;
    }

    & ul {
        & li {
            border: 1px solid #57595C;
            background-color: #fff;
            padding: 15px 30px;
            border-radius: 5px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.tp-portfolio-list-item{
    & li{
        margin-bottom: 15px;
        font-weight: 500;
        &::before{
            content: "\f061";
            font-family: "Font Awesome 5 Pro";
            transform: rotate(-40deg);
            display: inline-block;
            margin-right: 7px;
        }
    }
}