@use '../../utils' as*;
/*----------------------------------------*/
/*  6.12 Process
/*----------------------------------------*/

.tpprocess {
    border: 1px solid #57595C;
    border-radius: 215px;

    @media #{$lg} {
        padding: 100px 50px;
        border-radius: 50px;
    }

    @media #{$xs} {
        border-radius: 20px;
    }

    &__step {
        & span {
            padding: 4px 20px;
            background-color: var(--tp-theme-orange);
            color: #fff;
            border-radius: 15px;
            @include transition(.3s);
        }
    }

    &__title {
        font-size: 30px;
    }

    &__count {
        width: 77px;
        height: 77px;
        background-color: #FF3838;
        border-radius: 50%;
        text-align: center;
        line-height: 64px;
        font-size: 30px;
        color: #fff;
        font-family: var(--tp-font-heading);
        border: 8px solid #fff;
        position: absolute;
        bottom: -17px;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__shape {
        top: -36px;
        left: 0;

        &-2 {
            top: inherit;
            left: -8px;
            bottom: -37px;
        }

        &-3 {
            left: -7px;
            top: -45px;
        }

        &-4 {
            left: -4px;
            top: inherit;
            bottom: -37px;
        }
    }

    &__icon {
        & span {
            font-size: 61px;
            width: 150px;
            height: 150px;
            line-height: 160px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            @include transition(.3s);
            color: #000;
        }

        &-2 {
            & span {
                width: 260px;
                height: 260px;
                font-size: 128px;
                line-height: 249px;
                text-align: center;
                margin: auto;

                // & i {
                //     font-size: 128px;
                //     line-height: 249px;
                //     text-align: center;
                // }
            }

            &-pos {
                & span {
                    line-height: 349px;
                }

                & .tpprocess__count {
                    bottom: inherit;
                    top: -17px;
                }
            }

            &-width {
                & span {
                    width: 250px;
                    height: 250px;
                }
            }
        }

    }

    &:hover {
        & .tpprocess__step {
            & span {
                background-color: var(--tp-theme-color);
            }
        }

        & .tpprocess__icon {
            & span {
                @include transform(scale(1.1));
            }
        }
    }
}

.tp-process-area {
    @media #{$xs} {
        padding: 50px 0;
    }
}

.tp-process-2 {
    @include transform(translateY(-19px));
}

.tp-process-4 {
    @include transform(translateY(-40px));
}

.icon-transform-3 {
    & span {
        @include transform(translateX(-8px) translateY(-8px));
        // transform: translateX(-8px) translateY(-8px);
    }

    & .tpprocess__count {
        left: -14px;
    }
}

.icon-transform-4 {
    & span {
        @include transform(translateX(-5px));
    }

    & .tpprocess__count {
        left: -14px;
    }
}
.tp-process{
    @media #{$lg, $md, $xs} {
       margin-bottom: 90px;
    }
    &-2{
        @media #{$xs} {
            margin-bottom: 25px;
         } 
    }
    &-4{
        @media #{$xs} {
            margin-bottom: 0;
         } 
    }
}