@use '../../utils' as*;

.tp-question-bg {
   & img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   }
    position: absolute;
    top: 0;
    left: 0px;

}

.custom-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    border-radius: 0;
    width: 94%;
    padding: 19px 25px;
    margin: 0px auto;
    margin-bottom: -1px;
    background-color: transparent !important;
    box-shadow: none !important;
    font-size: 20px;
    color: #000;

    & i {
        transition: .33s;
        transform: rotate(180deg);
        color: var(--tp-theme-color);
    }

    &.collapsed {
        color: #000;
        & i {
            transform: rotate(90deg);
            color: #000000;
        }
    }

}

.accordion {
    &-item:first-of-type {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    &-item {
        border: 1px solid #000000;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;

        &:not(:first-of-type) {
            border: 1px solid #000;
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
        }
    }

    &-button {
        &::after {
            display: none;
        }

        &:last-child {
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}