@use '../../utils' as *;

.tp-services-area {
    @media #{$xs} {
        padding-bottom: 85px;
        padding-top: 85px;
    }
}

.tpservices {
    border: 1px solid #57595C;
    padding: 40px;
    margin-right: -1px;
    transition: all 0.4s;

    &__icon {
        & span {
            font-size: 92px;
            display: flex;
        }

        &-shape {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
    }

    &__text {
        & p {
            margin-bottom: 15px;
        }
    }

    &__title {
        font-size: 30px;
        margin-bottom: 15px;

        @media #{$xl} {
            font-size: 27px;
        }
    }

    &__list {
        & ul {
            & li {
                color: #57595C;
                list-style: none;
                margin-bottom: 5px;

                &::before {
                    content: " ";
                    background-color: #57595C;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 8px;
                    transform: translateY(-2px);
                }
            }
        }
    }

    &:hover {
        background-color: var(--tp-rom-color);

        & .tp-sv-btn {
            background-color: var(--tp-theme-color);
            color: #fff;
        }

        & .tpservices__btn-2 {
            color: var(--tp-theme-orange);
        }
    }

    &__btn {
        & a {
            font-size: 18px;
            display: block;
            transition: .3s;

            & i {
                display: inline-block;
            }
        }

        &-2 {
            font-size: 45px;
            transition: .3s;

        }
    }

    &-2 {
        margin-top: -1px;
        padding-bottom: 8px;

        & .tpservices__icon {
            & span {
                position: relative;
                top: 8px;
                left: 0;
                z-index: 11;
                margin-left: 26px;

                & i {
                    font-size: 56px;
                }
            }
        }
    }

}


// services button 
.tp-sv-btn {
    background: var(--tp-rom-color);
    padding: 6px 28px;
    font-family: var(--tp-font-heading);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;

    & i {
        transform: rotate(-45deg);
    }
}

.tpservices-4-spacing {
    padding-top: 50px;
    padding-bottom: 25px;
}

.tp-services-bg-area {
    background-color: #D6F0FF;
    border-radius: 140px;
}

.tp-service-white {
    background-color: #fff;
}

.tpsvtab {
    border-bottom: 1px solid #312f4e;
    padding: 20px 0;
    padding-bottom: 28px;

    &__num {
        margin-top: 16px;
        color: #B1B4BA;
    }

    &__title {
        font-size: 100px;
    }

    &__content {
        & p {
            color: #B1B4BA;
            margin: 0;
        }
    }
}

.tp-services-tab {

    & .nav-links:first-child {
        & .tpsvtab {
            border-top: 1px solid #312f4e;
        }
    }

    & .active {
        & .tpsvtab__title {
            color: var(--tp-theme-orange-2);
        }
    }

}