@use '../../utils' as *;
/*----------------------------------------*/
/*  6.13 Services
/*----------------------------------------*/

.tp-services-area {
    @media #{$xs} {
        padding-bottom: 85px;
        padding-top: 85px;
    }

    &-3 {
        @media #{$xs} {
            padding-bottom: 50px;
        }
    }
}

.tpservices {
    border: 1px solid #57595C;
    padding: 40px;
    margin-right: -1px;
    @include transition(all .4s);

    @media #{$md} {
        padding: 24px;
    }

    &__icon {
        & span {
            font-size: 92px;
            @include flexbox();
        }

        &-shape {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
    }

    &__text {
        & p {
            margin-bottom: 15px;
        }
    }

    &__title {
        font-size: 30px;
        margin-bottom: 15px;

        @media #{$xl} {
            font-size: 25px;
        }

        @media #{$md} {
            font-size: 25px;
        }
    }

    &__list {
        & ul {
            & li {
                color: #57595C;
                list-style: none;
                margin-bottom: 5px;

                &::before {
                    content: " ";
                    background-color: #57595C;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 8px;
                    @include transform(translateY(-2px));
                }
            }
        }
    }

    &:hover {
        background-color: var(--tp-rom-color);

        & .tp-sv-btn {
            background-color: var(--tp-theme-color);
            color: #fff;
        }

        & .tpservices__btn-2 {
            color: var(--tp-theme-orange);
        }
    }

    &__btn {
        & a {
            font-size: 18px;
            // display: block;
            @include transition(.3s);

            & i {
                display: inline-block;
            }
        }

        &-2 {
            font-size: 45px;
            @include transition(.3s);

        }
    }

    &-2 {
        margin-top: -1px;
        padding-bottom: 8px;

        @media #{$xl} {
            padding: 20px;
        }

        & .tpservices__icon {
            & span {
                position: relative;
                top: 8px;
                left: 0;
                z-index: 11;
                margin-left: 26px;

                & i {
                    font-size: 56px;
                }
            }
        }
    }

}


// services button 
.tp-sv-btn {
    background: var(--tp-rom-color);
    padding: 6px 28px;
    font-family: var(--tp-font-heading);
    border-radius: 5px;
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    @include transition(all .4s);

    & i {
        @include transform(rotate(-45deg));
    }
}

.tpservices-4-spacing {
    padding-top: 50px;
    padding-bottom: 25px;
}

.tp-services-bg-area {
    background-color: #D6F0FF;
    border-radius: 140px;

    @media #{$md, $xs} {
        border-radius: 0;
    }
}

.tp-service-white {
    background-color: #fff;
}

.tpsvtab {
    border-bottom: 1px solid #312f4e;
    padding: 20px 0;
    padding-bottom: 28px;

    &__num {
        margin-top: 16px;
        color: #B1B4BA;
    }

    &__title {
        font-size: 100px;
        cursor: pointer;

        @media #{$xxlm} {
            font-size: 70px;
        }

        @media #{$xl, $lg} {
            font-size: 36px;
        }

        @media #{$md} {
            font-size: 55px;
        }

        @media #{$xs} {
            font-size: 30px;
        }
    }

    &__content {
        & p {
            color: #B1B4BA;
            margin: 0;
        }
    }
}

.tp-services-tab {

    & .nav-links:first-child {
        & .tpsvtab {
            border-top: 1px solid #312f4e;
        }
    }

    & .active {
        & .tpsvtab__title {
            color: var(--tp-theme-orange-2);
        }
    }

}

.tp-section-title-3 {
    & br {
        @media #{$md, $xs} {
            display: none;
        }
    }
}

.tp-fns-46 {
    @media #{$xl} {
        font-size: 46px;
    }
}

.services-pl {
    & p {
        padding-left: 30px;

        @media #{$md, $xs} {
            padding-left: 0;
        }
    }

    &-50 {
        @media #{$md} {
            padding-left: 20px;
        }

        @media #{$xs} {
            padding-left: 0;
        }
    }
}



.tp-services-widget {
    background: #FBF6EF;
    padding: 40px;
    border-radius: 10px;

    &-title {
        & span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--tp-theme-color);
            display: inline-block;
            margin-right: 7px;
            transform: translateY(-4px);
        }
    }

    & ul {
        & li {
            margin-bottom: 15px;

            :last-child {
                margin-bottom: 0;
            }

            & a {
                color: #57595C;
                padding: 15px 25px;
                display: block;
                position: relative;
                border: 1px solid #57595C;
                border-radius: 8px;
                background: #fff;

                &:hover {
                    color: #fff;
                    border: 1px solid var(--tp-theme-color);
                    background: var(--tp-theme-color);
                }

                &:after {
                    content: "\f061";
                    font-family: "Font Awesome 5 Pro";
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-14px) rotate(-40deg);
                }
            }
        }
    }

    &-banner-text {
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: 50px;
        text-align: center;
    }
}

.tp-services-details-list {
    &-item {
        background: #FBF6EF;
        padding: 20px 30px;
        border-radius: 10px;

        & span {
            font-size: 24px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: var(--tp-theme-color);
            color: #fff;
            text-align: center;
            line-height: 50px;
            flex: 0 0 auto;
        }
    }
    &-title{
        @media #{$lg} {
            font-size: 21px;
        } 
    }
}