@use '../../utils' as*;

.tp-team-area {
    @media #{$xl} {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media #{$lg} {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media #{$xs} {
        padding-left: 0;
        padding-right: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.tpteam {
    &__thumb {
        & img {
            border-radius: 15px;
            width: 100%;
        }
    }

    &__title {
        font-size: 30px;

        @media #{$xl} {
            font-size: 26px;
        }

        @media #{$sm} {
            font-size: 40px;
        }
    }

    &__info {
        @media #{$xxlm,$xl,$md} {
            margin-left: 0;
        }

        @media #{$md} {
            margin-left: 30px;
        }

        @media #{$lg} {
            margin-left: 35px;
        }

        @media #{$xs} {
            margin-left: 50px;
        }

        & span {


            & i {
                width: 60px;
                height: 1px;
                background: #D6D6D1;
                display: inline-block;
                margin-right: 5px;
                transform: translateY(-5px);
            }
        }
    }

    &__social {
        & a {
            font-size: 25px;
            color: #0A0E1A;
            margin-right: 18px;
        }
    }
}

.tp-team-slider-button {
    display: inline-block;
    font-size: 52px;
}

.tp-team-nav {
    & span {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #DBDBDB;
        border-radius: 100%;
        margin: 0 10px;
    }
}

// Expert Team Style =======================================================

.tpexpertteam {
    position: relative;

    &__box {
        width: 298px;
        height: 370px;
        border: 1px solid #000;
        border-radius: 15px;
    }

    &__thumb {
        position: absolute;
        top: 10px;
        left: 10px;
        transition: .3s;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 190px;
        left: 77px;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        & a {
            font-size: 22px;
            color: #0A0E1A;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            margin-left: 8px;
            transition: .3s;

            &:hover {
                font-size: 30px;
            }
        }

    }
    &__title {
        font-size: 30px;
        transition: .3s;
     }

    &:hover {
        & .tpexpertteam__thumb {
           filter: blur(2px);
        }
        & .tpexpertteam__social {
            opacity: 1;
            visibility: visible;
            top: 171px;
        }
        & .tpexpertteam__title {
           color: var(--tp-theme-color);
        }
    }
}