@use '../../utils' as*;

.tp-team-area {
    @media #{$xl} {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media #{$lg} {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media #{$xs} {
        padding-left: 0;
        padding-right: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.tpteam {

    &__thumb {
        position: relative;

        & img {
            border-radius: 15px;
            width: 100%;
        }

        &-2 {
            margin-left: 10px;

            & img {
                @include transition(.3s);
            }
        }

        &-border {
            width: 100%;
            height: 100%;
            position: absolute;
            left: -10px;
            top: -10px;
            border: 1px solid #57595C;
            z-index: -1;
            border-radius: 15px;
        }

        &-bg {
            height: 360px;
            width: 100%;
            border-radius: 140px 140px 0 0;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            &-border {
                height: 360px;
                border: 1px solid #57595C;
                border-radius: 140px 140px 0 0;
                position: absolute;
                bottom: 10px;
                left: 10px;
                z-index: -1;
                right: 10px;
            }
        }
    }

    &__title {
        font-size: 30px;

        @media #{$xl} {
            font-size: 26px;
        }

        @media #{$sm} {
            font-size: 40px;
        }

        &-2 {
            @include transition(.3s);
            font-size: 23px;
            @media #{$xs} {
                font-size: 40px;
                // margin-bottom: 50px;
            }
        }
    }

    &__subtitle {
        margin-bottom: 7px;
        display: block;
    }

    &__info {
        &.ml-80 {
            @media #{$xxlm,$xl,$md} {
                margin-left: 0;
            }

            @media #{$md} {
                margin-left: 30px;
            }

            @media #{$lg} {
                margin-left: 35px;
            }

            @media #{$xs} {
                margin-left: 50px;
            }
        }


        & span {


            & i {
                width: 60px;
                height: 1px;
                background: #D6D6D1;
                display: inline-block;
                margin-right: 5px;
                @include transform(translateY(-5px));
            }
        }
    }

    &__social {
        & a {
            font-size: 25px;
            color: #0A0E1A;
            margin-right: 18px;
        }

        &-2 {
            position: absolute;
            top: 55%;
            right: 0;
            left: 0;
            @include transform(translateY(-50%));
            @include transition(.3s);
            opacity: 0;
            visibility: hidden;
            z-index: 12;

            &>a {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                font-size: 22px;
                line-height: 50px;
                color: #0A0E1A;
            }
        }
    }

    &:hover {
        & .tpteam__title-2 {
            color: var(--tp-theme-color);
        }

        & .tpteam__thumb-2 {
            & img {
                filter: blur(1.5px);
            }
        }

        & .tpteam__social-2 {
            opacity: 1;
            visibility: visible;
            top: 50%;
        }
    }
}

.tp-team-slider-button {
    display: inline-block;
    font-size: 52px;
}

.tp-team-nav {
    & span {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #DBDBDB;
        border-radius: 100%;
        margin: 0 10px;
    }
}